
// Variables
:root {
  --brand-color:           #00C88C;
  --brand-color-secondary: #5E20A4;
  --grey-24:               #3D3D3D;
  --grey-88:               #DFDFDF;
}


body {
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 16px;

  h1 {
    font-size: 40px;
    font-weight: 500;
  }

  h2 {
    font-size: 28px;
    font-weight: 500;
  }

  h3 {
    font-size: 22px;
    font-weight: 500;
  }

  hr {
    width: 54.44%;
    border: 1px solid var(--grey-88);
  }

  a {
    color: var(--brand-color-secondary);
  }
}

.masthead {
  display: flex;
  flex-direction: column;
  background-color: var(--brand-color-secondary);
  mix-blend-mode: overlay;
  background-size: cover;
  height: 90vh;

  background-image:
  linear-gradient(314.72deg, rgba(200, 109, 215, 0.6) -1.5%, rgba(126, 73, 195, 0.6) 39.43%, rgba(89, 18, 172, 0.6) 86.02%),
  url('resources/banner_image.png');

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
    text-align: center;

    .logo {
      width: 3em;
      height: 3em;

      img {
        width: 100%;
      }
    }

    a {
      font-size: 0.9em;
      text-decoration: none;
      color: white;
    }

    .nav-left {
      display: grid;
      grid-template-columns: 3fr 2fr 2fr;
      grid-column-gap: 25px;

      padding-top: 2em;
      margin-left: 3em;
    }

    .nav-right {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      padding-top: 1em;

      button {
        background-color: var(--brand-color);
        border: none;
        border-radius: 4px;
        color: white;

        padding: 1em 1.5em;
        margin-right: 1em;
        cursor: pointer;
      }
    }
  }

  .banner-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    flex: 1;
    align-items: center;
    color: white;
    margin: 0 3em;

    .banner-text {
      display: flex;
      flex: 1;
      flex-direction: column;

      p {
        font-size: 1rem;
        line-height: 24px;
        margin: 0;
      }

      a {
        display: flex;
        align-items: center;
        color: white;
        margin-top: 2em;

        img {
          margin-right: 10px;
        }
      }
    }

    .banner-image {
      display: flex;
      justify-content: center;
      flex: 1;
      align-items: center;

      img {
        width: 55%;
      }
    }
  }
}

.notification {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 28px 0;
  border-bottom: 1px solid var(--grey-88);
  font-weight: bold;
  line-height: 1.5em;

  .image {
    width: 3rem;
    margin-right: 15px;
    img {
      width: 100%;
      box-shadow: 0px 1px 1px 0px;
      border: 4px solid white;
      border-radius: 50px;
      filter: drop-shadow(0px 1px 1px 0px rgba(0, 0, 0, 0.2));
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #faf9f7;
  color:var(--grey-24);
}

section {
  &.column {
    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
      text-align: center;
      line-height: 28px;
    }

    &.ff2 {
      padding: 4em 0;

      .form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 3em;

        input {
          margin-right: 0.5em;
          padding: 1em;
          border: 1px solid var(--grey-88);
          box-sizing: border-box;
          border-radius: 4px;
        }

        button {
          background-color: var(--brand-color);
          border: none;
          border-radius: 4px;
          color: white;

          padding: 1em 1.5em;
          cursor: pointer;
        }
      }

    }

    &.ff4 {
      padding: 4em 14.25em;

      .image {

        margin-top: 3em;
        margin-bottom: 1em;

        img {
          width: 100%;
        }
      }
    }

    &.ff5 {
      padding: 2em 0 6em 0;
      max-width: 768px;

      .image {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 3em;
        margin-bottom: 2em;

        img {
          width: 30%;
        }
      }

    }
  }

  &.row {
    display: grid;
    grid-gap: 3em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    .text {
      display: flex;
      flex-direction: column;
      font-size: 0.9em;
    }

    p {
      line-height: 28px;
    }

    .image {
      display: flex;
      align-items: center;

      img {
        width: 100%;
      }
    }

    &.ff1 {
      padding: 6em 14.25em 6em 14.25em;

      .image {
        width: 125%;
      }
    }

    &.ff3 {
      padding: 6em 14.25em;

      h2 {
        margin-top: 0;
      }

      .text {
        flex: 20;
      }

      .image {
        flex: 19;
      }
    }
  }
}

footer {
  color:var(--grey-24);
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 2em;
  padding-top: 4em;


  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;

    span.time {
      font-size: 18px;
    }

    button {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: left;

      width: 80%;
      padding: 1em 2em;
      margin: 2em 0;

      background-color: var(--brand-color-secondary);
      color: white;
      border: none;
      border-radius: 4px;

      .big {
        font-size: 1.2em;
      }

      .little {
        font-size: 1em;
      }
    }
  }

  .footer-bottom {
    width: 83%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;

    margin: 5em 0;

    .logo {
      display: flex;
    }

    .links {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      line-height: 2em;
      grid-column: span 2;

      a {
        font-size: 0.9em;
        color:var(--grey-24);
        text-decoration: none;
      }
    }

    .social {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      a {
        text-decoration: none;
        color:var(--grey-24);

        margin: 0 0.5em;
      }

      .social-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 45px;
        height: 45px;

        border: 1px solid var(--grey-88);
        border-radius: 50px;
      }
    }

    img {
      height: 1.5em;
    }
  }

  hr.show {
    display: none;
  }

  .copyright {
    font-size: 0.8em;
    mix-blend-mode: normal;
    opacity: 0.6;
  }
}

// Styles for screens thinner than 768px

@media (max-width: 768px) {
  body {
    text-align: center;

    h1 {
      font-size: 28px;
    }

    hr {
      width: 90%;
    }
  }

  .masthead {
    background-position: center;

    .banner-content {
      margin: 0;
      padding: 0 1em;

      .banner-text {
        align-items: center;
      }
    }
  }

  .notification {
    padding: 3em 0;
    justify-content: space-evenly;
    .image, a, span {
      margin-bottom: 0.5em;
    }

    a {
      padding: 0 5em;
    }
  }

  section {
    &.column {
      &.ff2,
      &.ff4,
      &.ff5 {
        padding: 4em 1em;
      }

      &.ff2 {
        .form {
          flex-direction: column;
          width: 100%;
          margin-top: 1em;

          input {
            margin: 0 0 1em 0;
          }

          button {
            margin-top: 1em;
          }
        }
      }

      &.ff5 {
        .image {
          margin: 0;

          img {
            width: 60%;
          }
        }
      }

      .text {
        padding: 0;
      }
    }

    &.row {
      &.ff1,
      &.ff3 {
        padding: 7.5em 1em;

        .image {
          width: auto;
        }
      }

      &.ff1 {
        .text {
          grid-row: 2;
        }

        .image {
          grid-row: 1;
        }
      }
    }
  }

  footer {
    .footer-bottom {
      grid-gap: 1em 0;
      margin: 3em 0;

      .logo {
        display: flex;
        justify-content: center;
      }

      .links {
        font-size: 1.5em;

        a {
          margin: 0 0.5em;
        }
      }

      .social {
        justify-content: center;
      }
    }

    .copyright {
      margin-top: 1em;
    }
  }

  .hide {
    display: none !important;
  }

  .show {
    display: block !important;
  }
}